footer{
	display: block;
  min-height: 500px;
  background: linear-gradient(to bottom, #1e1d63ee,#151536, #15151af3); 
	color: #41edf3;
	padding: 10 auto;
}
.footer-icono{
	height: 60px;
	width: 60px;
	margin: 10px;
}
.footer-texto{
	font-size: 1.5rem;
	padding: 20px;
	margin-bottom: 30px;
}
.iconos-redes-sociales Link{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	margin-top: 10px;
	border: 2px solid white;
	border-radius: 50%;
	transition: all 0.2s ease-in;
}
@media screen and (max-width: 700px){
	.footer-icono{
		height: 50px;
		width: 50px;
		margin: 6px;
	}
	.footer-texto{
		font-size: 0.8rem;
		padding: 15px;
		margin-bottom: 20px;
	}
	footer{
		min-height: 100px;
	}
}