.hero{
    /* background-color: #f5f6f7; */
    min-height: 450px;
    text-align: center;
    /* fallback for old browsers */
    background: #080f1fd2;  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom , #243B55, #141E30); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom , #15151af3, #1e1d63ee); 
  }
  .hero-main{
    padding: 1rem;
  }
  .hero-img-main{
    width: 150px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 700px) {
    .hero-img-inf{
      max-width: 200px;
      width: 200px;
    }
  }
  @media screen and (max-width: 700px) {
    .hero-img-inf{
      min-width: 50px;
      width: 60px;
    }
  }