.proyectos-recientes img{
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}
.proyectos-contenedor{
  padding-top: 60px;
  margin-bottom: 40px;
}
.proyectos-recientes{
  padding: 40px;
  background: #41edf3;  
  background: linear-gradient(to bottom , #15151af3, #1e1d63ee); 
}

.proyectos-recientes h2{
  color: #41edf3;
  background-color: transparent;
}
.proyectos-recientes h3{
  color: #41edf3;
  ;
}