.proyectos-recientes img{
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}
.proyectos-contenedor{
  padding-top: 60px;
  margin-bottom: 40px;
}
.proyectos-recientes{
  padding: 40px;
}
