.proyecto{
  position: relative;
}
.proyectos-contenedor{
  padding-top: 60px;
  margin-bottom: 40px;
}
.overlay{
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay .iconos-contenedor{
  display: flex;
}
.proyecto:hover img{
  opacity: 0.2;
}
.proyecto:hover .overlay{
  opacity: 1;
}
.overlay p{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  color: #41edf3;
}
.overlay .iconos-contenedor{
  display: flex;
}
.overlay i{
  color: white;
  font-size: 40px;
  margin: 30px;
  /* width: 50px;
  height: 50px; */
}
.overlay .bi-info-circle{
  font-size: 30px;
}
@media screen and (max-width: 400px){
  .overlay p{
    font-size: 18px;
  }
  .overlay i{
    width: 40px;
    height: 40px;
  }
}
