/* Estilos generales */




.btn-info{
  font-size: 1.1rem;
  margin: 20px;
}

/* Seccion hero */
.hero{
  background-color: #2f78c0;
  min-height: 450px;
  text-align: center;
  
}
.hero-main{
  padding: 3rem;
}

.hero-img-main{
  width: 150px;
  /* border-radius: 50%; */
  margin: 20px;
  
}
.hero-main h2{
  font-size: 1.5rem;
  color: #515151;

}
/* Barra de navegacion */
.navbar{
  padding: 2rem;
  background-color: #f5f6f7;
}
.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}

/* experiencia */
.experiencia{
  padding: 40px 40px 60px 40px;
}

.experiencia .bi-externo{
  background-color: #1b1b32a4;
  border-radius: 50%;
  padding: 0px;
}

.experiencia-titulo{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.badges-contenedor{
  /* esto es para cada span */
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.badge{
  margin: 5px;
}
/* Proyectos */



.articulos{
  min-height: 500px;
  padding: 30px;
}
.articulos .card{
  width: 80%;
  max-width: 600px;
  margin: 20px;
}
.articulos .card-header{
  font-weight: bold;
}
/* Testimoios */
.testimonios{
  padding: 40px 40px 80px 40px;
}
.testimonios .carousel{
  max-width: 600px;
}
.carousel-item{
  height: 500px;
}
.carousel-item .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagen-testimonio{
  height: 150px;
  margin: 10px 10px 20px 10px;
}
.testimonio-texto{
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.testimonio-info{
  font-weight: bold;
  text-align: center;
}
.testimonio-info p{
  margin-bottom: 0;
}
.testimonio-info .cliente{
  font-size: 1.2rem;
}
.testimonio-info .cargo{
  font-size: 0.9rem;
  color: #656060;
}
/* Contacto */
.contacto .container{
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}
.contacto .rectangulo{
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}
.contacto .row{
  width: 100%;
  display: flex;
  align-items: center;
}
.contacto .descripcion{
  color: white;
  font-size: 1.2rem;
}
.contacto button{
  color: rgb(123, 252, 37); /* Esto es cosa mia */
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.contacto button svg{
  color: rgb(123, 252, 37);
  width: 1.3rem;
  transition: all 0.2s ease-in-out;
}
.contacto button:hover {
  background-color: white;
  color: black;
}
.contacto button:hover svg {
  color: black;
}


/* Adaptable (responsivo) */

@media screen and (min-width: 700px) {
  .hero-img-inf{
    max-width: 600px;
  }
}

@media screen and (max-width: 800px){
  .testimonio-texto{
    font-size: 18px;
  }
  .testimonio-imagen{
    height: 100%;
    width: 120px;
  }
}
