@media screen and (max-width: 767px){
    .navbar-brand {
      display: none;
    }
  }
.coustom-progress-bar{
  height: 5px;
}
header{
  position: fixed;
  top: 0px;
  width: 100%;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}
.seccion-titulo{
  font-size: 2rem;
  font-family: 'Rubik Dirt', cursive;
}
.seccion-texto{
  font-size: 1.2rem;
}
.seccion-descripcion{
  font-size: 1.2rem;
  color: #584e4e;
}


.seccion-oscura{
  color: white;
  background-color: #1b1b32;
}
.seccion-clara{
  color: black;
  background-color: white;
}