@media screen and (max-width: 767px){
    .navbar-brand {
      display: none;
    }
  }
.coustom-progress-bar{
  height: 5px;
}
.fijo{
  position: fixed;
  top: 0;
  /* z-index: 0; */
  width: 100%;
  /* padding: 10px; */
}